.formTareas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 33vw;
    height: 73vh;
    background: rgba(255, 255, 255, .1);
    position: relative;
    border-radius: 15px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, .4);
    margin-top: 4%;
    position: relative;
}

.formTareas h2 {
    position: relative;
    top: -7%;
    color: #fff;
    text-shadow: 0 3px 3px #000;
}

.formTareas::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, .3) 15%,
    transparent 50%, transparent 85%, rgba(255, 255, 255, .2) 100%);
    border-radius: 15px;
}

.inputBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 10%;
}

label {
    margin-left: -69%;
    margin-bottom: 2%;
    color: #fff;
    text-shadow: 0 2px 2px #000;
}

.inputForm {
    width: 15em;
    height: 2.8em;
    border: none;
    outline: none;
    border-radius: 5px;
    padding-left: 18%;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .5);
    color: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3) inset;
    text-shadow: 0 1px 1px #000;
    letter-spacing: 1px;
}

.inputForm::placeholder {
    color: rgba(255, 255, 255, 1);
    text-shadow: 2px 2px #000;
    font-size: 1.1em;
    
}

.inputForm:active, .inputForm:focus {
    background: transparent;
}

.iconsForm {
    position: absolute;
    left: 2%;
    z-index: 11;
    top: 55%;
    color: #035;
    font-size: 1.4em;
}

.formTareas button {
    outline: none;
    border: 1px solid rgba(255, 255, 255, .3);
    width: 10em;
    height: 2.5em;
    border-radius: 7px;
    background: transparent;
    box-shadow: 0 5px 10px inset #ccc;
    cursor: pointer;
    color: #fff;
    text-shadow: 0 2px 2px #000;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: .5s;
}

.formTareas button:hover {
    box-shadow: 0 50px 100px inset rgba(255, 255, 255, .2);
}

input, button {
    position: relative;
    z-index: 10;
}

@media(max-width: 1000px) {
    .formTareas {
        width: 50vw;
    }
}

@media(max-width: 650px) {
    .formTareas {
        width: 65vw;
        height: 60vh;
        min-height: 400px;
        top: -4%;
    }

    .formTareas h2 {
        font-size: 1.4em;
    }
}


@media(max-width: 450px) {
    .formTareas {
        width: 75vw;
    }

    .formTareas h2 {
        font-size: 1.1em;
    }
}

@media (max-width: 430px) {
    .formTareas {
        position: absolute;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
